section.news
    ._container
        .news__grid
            +news('img/new1.png','17.08.2021','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new12.png','17.08.2021','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new3.png','17.08.2021','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new1.png','17.08.2021','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new12.png','17.08.2021','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new3.png','17.08.2021','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')

        include ./../../pug/_basice/_pagging