.text{

  &__title{
    margin-bottom: 50px;
  }
  ul{
    display: grid;
    grid-gap: 15px;
    margin-bottom:25px ;
  }
  li{
    padding-left: 20px;
    background-image: url('../img/icons/toch.svg');
    background-position: left top 5px;
    background-repeat: no-repeat;

  }
}