section.doc
    ._container
        .doc__title.title Документация жилого комплекса
        .doc__container.swiper
            .swiper-wrapper
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой
                .swiper-slide.doc__slide
                    .doc__slide-ic
                        img(src='img/icons/pdf.svg')
                    .doc__slide-text Проектная декларация Литер 1 по ул. Кобцевой

        .doc__pagination._swiper_pagination