section.finishing
    ._container
        .finishing__title.title Отделка чистовая
        .finishing__container.swiper
            .swiper-wrapper
                .swiper-slide.finishing__slide
                    .finishing__slide-img(style="background-image: url('img/tab1.png');")

                .swiper-slide.finishing__slide
                    .finishing__slide-img(style="background-image: url('img/tab1.png');")

                .swiper-slide.finishing__slide
                    .finishing__slide-img(style="background-image: url('img/tab1.png');")

                .swiper-slide.finishing__slide
                    .finishing__slide-img(style="background-image: url('img/tab1.png');")
            .finishing__nav
                .finishing__slider-btn-prev
                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                        path(d='M24.6553 24.1982L29.7431 19.1245C29.9098 18.9583 30.1797 18.9586 30.3461 19.1253C30.5124 19.292 30.512 19.562 30.3452 19.7283L25.5603 24.5001L30.3454 29.2718C30.5121 29.4381 30.5125 29.708 30.3463 29.8747C30.2628 29.9583 30.1536 30.0001 30.0443 30.0001C29.9353 30.0001 29.8264 29.9585 29.7431 29.8756L24.6553 24.8019C24.575 24.7221 24.5299 24.6133 24.5299 24.5001C24.5299 24.3868 24.5751 24.2782 24.6553 24.1982Z', fill='#212D55')

                .finishing__slider-btn-next
                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                        path(d='M30.3447 24.1982L25.2569 19.1245C25.0902 18.9583 24.8203 18.9586 24.6539 19.1253C24.4876 19.292 24.488 19.562 24.6548 19.7283L29.4397 24.5001L24.6546 29.2718C24.4879 29.4381 24.4875 29.708 24.6537 29.8747C24.7372 29.9583 24.8464 30.0001 24.9557 30.0001C25.0647 30.0001 25.1736 29.9585 25.2569 29.8756L30.3447 24.8019C30.425 24.7221 30.4701 24.6133 30.4701 24.5001C30.4701 24.3868 30.4249 24.2782 30.3447 24.1982Z', fill='#212D55')

        .finishing__description
            p Отличие квартир построенных ООО "Строитель" от других новостроек в пгт. Яблоновском - решение «под ключ».Откройте дверь своей новенькой квартиры, и вы увидите, что Вас встречают уютные комнаты с уже поклеенными обоями, постеленным линолеумом и выложенной керамической плиткой, натяжными потолками и пластиковыми окнами.
            br
            p На кухне каждого покупателя квартиры в жилых комплексах есть газовая плита, а также установленная сантехника на кухне и в санузле. В квартирах жилого комплекса установлены металлические входные и деревянные межкомнатные двери.