section.HCfirst(style="background-image: url('img/comfort.png');")
    ._container
        .HCfirst__body
            .HCfirst__title Жилой Комплекс <b>«Яблоновский»</b>
            .HCfirst__text Краснодар, пгт. Яблоновский ул. Кобцевой
            .HCfirst__price от 63 801 до 65 678 ₽/м²
            .HCfirst__btn.button Узнать стоимость проекта
            .HCfirst__slider
                .HCfirst__container.swiper
                    .swiper-wrapper
                        .swiper-slide.HCfirst__slide
                            .HCfirst__slide-body
                                .HCfirst__slide-title Квартиры
                                .HCfirst__slide-price от 63 801 ₽/м²
                        .swiper-slide.HCfirst__slide
                            .HCfirst__slide-body
                                .HCfirst__slide-title Квартиры
                                .HCfirst__slide-price от 63 801 ₽/м²
                        .swiper-slide.HCfirst__slide
                            .HCfirst__slide-body
                                .HCfirst__slide-title Квартиры
                                .HCfirst__slide-price от 63 801 ₽/м²
                        .swiper-slide.HCfirst__slide
                            .HCfirst__slide-body
                                .HCfirst__slide-title Квартиры
                                .HCfirst__slide-price от 63 801 ₽/м²
                        .swiper-slide.HCfirst__slide
                            .HCfirst__slide-body
                                .HCfirst__slide-title Квартиры
                                .HCfirst__slide-price от 63 801 ₽/м²
                        .swiper-slide.HCfirst__slide
                            .HCfirst__slide-body
                                .HCfirst__slide-title Квартиры
                                .HCfirst__slide-price от 63 801 ₽/м²








