section.house
    ._container
        .house__title.title Жилые комплексы от застройщика
        .house__container.swiper
            .swiper-wrapper
                .swiper-slide.house__slide
                    .portfolio__column.portfolio-column
                        .portfolio-column__slider.swiper
                            .swiper-wrapper
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_1.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_2.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_2.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_3.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_3.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_4.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_4.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                            .portfolio-column__slider-nav
                                .portfolio-column__slider-btn-prev.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M24.6553 24.1982L29.7431 19.1245C29.9098 18.9583 30.1797 18.9586 30.3461 19.1253C30.5124 19.292 30.512 19.562 30.3452 19.7283L25.5603 24.5001L30.3454 29.2718C30.5121 29.4381 30.5125 29.708 30.3463 29.8747C30.2628 29.9583 30.1536 30.0001 30.0443 30.0001C29.9353 30.0001 29.8264 29.9585 29.7431 29.8756L24.6553 24.8019C24.575 24.7221 24.5299 24.6133 24.5299 24.5001C24.5299 24.3868 24.5751 24.2782 24.6553 24.1982Z', fill='#212D55')

                                .portfolio-column__slider-btn-next.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M30.3447 24.1982L25.2569 19.1245C25.0902 18.9583 24.8203 18.9586 24.6539 19.1253C24.4876 19.292 24.488 19.562 24.6548 19.7283L29.4397 24.5001L24.6546 29.2718C24.4879 29.4381 24.4875 29.708 24.6537 29.8747C24.7372 29.9583 24.8464 30.0001 24.9557 30.0001C25.0647 30.0001 25.1736 29.9585 25.2569 29.8756L30.3447 24.8019C30.425 24.7221 30.4701 24.6133 30.4701 24.5001C30.4701 24.3868 30.4249 24.2782 30.3447 24.1982Z', fill='#212D55')
                        a.portfolio-column__description(href="#")
                            .portfolio-column__title ЖК Космос
                            .portfolio-column__text город Краснодар улица Гагарина 5
                            ul.portfolio-column__list
                                li
                                    span 1 комнатная от 35.8м²
                                    b от 2 000 000 ₽
                                li
                                    span 2 комнатная от 42.3м²
                                    b от 2 800 000 ₽
                                li
                                    span 3 комнатная от 56.2м²
                                    b от 3 500 000 ₽
                                li
                                    span 4 комнатная от 83.5м²
                                    b от 4 000 000 ₽

                .swiper-slide.house__slide
                    .portfolio__column.portfolio-column
                        .portfolio-column__slider.swiper
                            .swiper-wrapper
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_1.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_2.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_2.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_3.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_3.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_4.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_4.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                            .portfolio-column__slider-nav
                                .portfolio-column__slider-btn-prev.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M24.6553 24.1982L29.7431 19.1245C29.9098 18.9583 30.1797 18.9586 30.3461 19.1253C30.5124 19.292 30.512 19.562 30.3452 19.7283L25.5603 24.5001L30.3454 29.2718C30.5121 29.4381 30.5125 29.708 30.3463 29.8747C30.2628 29.9583 30.1536 30.0001 30.0443 30.0001C29.9353 30.0001 29.8264 29.9585 29.7431 29.8756L24.6553 24.8019C24.575 24.7221 24.5299 24.6133 24.5299 24.5001C24.5299 24.3868 24.5751 24.2782 24.6553 24.1982Z', fill='#212D55')

                                .portfolio-column__slider-btn-next.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M30.3447 24.1982L25.2569 19.1245C25.0902 18.9583 24.8203 18.9586 24.6539 19.1253C24.4876 19.292 24.488 19.562 24.6548 19.7283L29.4397 24.5001L24.6546 29.2718C24.4879 29.4381 24.4875 29.708 24.6537 29.8747C24.7372 29.9583 24.8464 30.0001 24.9557 30.0001C25.0647 30.0001 25.1736 29.9585 25.2569 29.8756L30.3447 24.8019C30.425 24.7221 30.4701 24.6133 30.4701 24.5001C30.4701 24.3868 30.4249 24.2782 30.3447 24.1982Z', fill='#212D55')
                        a.portfolio-column__description(href="#")
                            .portfolio-column__title ЖК Космос
                            .portfolio-column__text город Краснодар улица Гагарина 5
                            ul.portfolio-column__list
                                li
                                    span 1 комнатная от 35.8м²
                                    b от 2 000 000 ₽
                                li
                                    span 2 комнатная от 42.3м²
                                    b от 2 800 000 ₽
                                li
                                    span 3 комнатная от 56.2м²
                                    b от 3 500 000 ₽
                                li
                                    span 4 комнатная от 83.5м²
                                    b от 4 000 000 ₽

                .swiper-slide.house__slide
                    .portfolio__column.portfolio-column
                        .portfolio-column__slider.swiper
                            .swiper-wrapper
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_1.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_2.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_2.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_3.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_3.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_4.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_4.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                            .portfolio-column__slider-nav
                                .portfolio-column__slider-btn-prev.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M24.6553 24.1982L29.7431 19.1245C29.9098 18.9583 30.1797 18.9586 30.3461 19.1253C30.5124 19.292 30.512 19.562 30.3452 19.7283L25.5603 24.5001L30.3454 29.2718C30.5121 29.4381 30.5125 29.708 30.3463 29.8747C30.2628 29.9583 30.1536 30.0001 30.0443 30.0001C29.9353 30.0001 29.8264 29.9585 29.7431 29.8756L24.6553 24.8019C24.575 24.7221 24.5299 24.6133 24.5299 24.5001C24.5299 24.3868 24.5751 24.2782 24.6553 24.1982Z', fill='#212D55')

                                .portfolio-column__slider-btn-next.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M30.3447 24.1982L25.2569 19.1245C25.0902 18.9583 24.8203 18.9586 24.6539 19.1253C24.4876 19.292 24.488 19.562 24.6548 19.7283L29.4397 24.5001L24.6546 29.2718C24.4879 29.4381 24.4875 29.708 24.6537 29.8747C24.7372 29.9583 24.8464 30.0001 24.9557 30.0001C25.0647 30.0001 25.1736 29.9585 25.2569 29.8756L30.3447 24.8019C30.425 24.7221 30.4701 24.6133 30.4701 24.5001C30.4701 24.3868 30.4249 24.2782 30.3447 24.1982Z', fill='#212D55')
                        a.portfolio-column__description(href="#")
                            .portfolio-column__title ЖК Космос
                            .portfolio-column__text город Краснодар улица Гагарина 5
                            ul.portfolio-column__list
                                li
                                    span 1 комнатная от 35.8м²
                                    b от 2 000 000 ₽
                                li
                                    span 2 комнатная от 42.3м²
                                    b от 2 800 000 ₽
                                li
                                    span 3 комнатная от 56.2м²
                                    b от 3 500 000 ₽
                                li
                                    span 4 комнатная от 83.5м²
                                    b от 4 000 000 ₽

                .swiper-slide.house__slide
                    .portfolio__column.portfolio-column
                        .portfolio-column__slider.swiper
                            .swiper-wrapper
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_1.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_2.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_2.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_3.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_3.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                                .portfolio-column__slide.swiper-slide
                                    picture
                                        source(data-srcset='img/sl_4.webp' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/sl_4.png' src='img/1x1.png' alt='Картинка')
                                    .portfolio-column__slide-text Дом сдан
                            .portfolio-column__slider-nav
                                .portfolio-column__slider-btn-prev.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M24.6553 24.1982L29.7431 19.1245C29.9098 18.9583 30.1797 18.9586 30.3461 19.1253C30.5124 19.292 30.512 19.562 30.3452 19.7283L25.5603 24.5001L30.3454 29.2718C30.5121 29.4381 30.5125 29.708 30.3463 29.8747C30.2628 29.9583 30.1536 30.0001 30.0443 30.0001C29.9353 30.0001 29.8264 29.9585 29.7431 29.8756L24.6553 24.8019C24.575 24.7221 24.5299 24.6133 24.5299 24.5001C24.5299 24.3868 24.5751 24.2782 24.6553 24.1982Z', fill='#212D55')

                                .portfolio-column__slider-btn-next.nav
                                    svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                        path(d='M30.3447 24.1982L25.2569 19.1245C25.0902 18.9583 24.8203 18.9586 24.6539 19.1253C24.4876 19.292 24.488 19.562 24.6548 19.7283L29.4397 24.5001L24.6546 29.2718C24.4879 29.4381 24.4875 29.708 24.6537 29.8747C24.7372 29.9583 24.8464 30.0001 24.9557 30.0001C25.0647 30.0001 25.1736 29.9585 25.2569 29.8756L30.3447 24.8019C30.425 24.7221 30.4701 24.6133 30.4701 24.5001C30.4701 24.3868 30.4249 24.2782 30.3447 24.1982Z', fill='#212D55')
                        a.portfolio-column__description(href="#")
                            .portfolio-column__title ЖК Космос
                            .portfolio-column__text город Краснодар улица Гагарина 5
                            ul.portfolio-column__list
                                li
                                    span 1 комнатная от 35.8м²
                                    b от 2 000 000 ₽
                                li
                                    span 2 комнатная от 42.3м²
                                    b от 2 800 000 ₽
                                li
                                    span 3 комнатная от 56.2м²
                                    b от 3 500 000 ₽
                                li
                                    span 4 комнатная от 83.5м²
                                    b от 4 000 000 ₽

        .house__pagination._swiper_pagination