section.infrastructure
    ._container
        .infrastructure__title.title Наша инфраструктура
        .infrastructure__container.swiper
            .swiper-wrapper
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/bas.svg" alt='')
                        span Магазины
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/kindergarten.svg" alt='')
                        span Детский сад
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/bas.svg" alt='')
                        span АЗС
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/kindergarten.svg" alt='')
                        span Поликлинника
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/bas.svg" alt='')
                        span Магазины
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/kindergarten.svg" alt='')
                        span Детский сад
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/bas.svg" alt='')
                        span АЗС
                .swiper-slide.infrastructure__slide
                    .infrastructure__body
                        img(src="img/icons/kindergarten.svg" alt='')
                        span Поликлинника



    .infrastructure__map#infrastructure__map

template#balloon
    section.balloon
        h3.balloon__title