section.sale
    ._container
        .sale__title.title Квартиры в продаже
        .sale__text Можете подобрать квартиру под ваши пожелания!

        .sale__nav.sale-nav
            .sale-nav-top
                .sale-nav-top__element.active(data-mainliter="1")
                    .sale-nav-top__body Литер 1
                .sale-nav-top__element(data-mainliter="2")
                    .sale-nav-top__body Литер 2
                .sale-nav-top__element(data-mainliter="all")
                    .sale-nav-top__body 10 квартир  в продаже

            .sale__nav-bottom
                .sale__nav-bottom__element(data-mainroom="0")
                    .sale__nav-bottom__body Студия
                .sale__nav-bottom__element(data-mainroom="1")
                    .sale__nav-bottom__body 1-комнатная
                .sale__nav-bottom__element(data-mainroom="2")
                    .sale__nav-bottom__body 2-комнатная
                .sale__nav-bottom__element(data-mainroom="3")
                    .sale__nav-bottom__body 3-комнатная
                .sale__nav-bottom__element(data-mainroom="all")
                    .sale__nav-bottom__body Все




        .sale__content
            .sale__apartments.sale-apartments(data-liter="1" data-room="1")
                .sale-apartments__name Квартира с 2-мя спальнями 1 комната 1
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка

            .sale__apartments.sale-apartments(data-liter="2" data-room="2")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 2
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="3")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 3
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="4")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 4
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка

            .sale__apartments.sale-apartments(data-liter="2" data-room="0")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат студия
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="3")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 3
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="4")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 4
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка

            .sale__apartments.sale-apartments(data-liter="2" data-room="0")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат студия
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="1" data-room="1")
                .sale-apartments__name Квартира с 2-мя спальнями 1 комната 1
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка

            .sale__apartments.sale-apartments(data-liter="2" data-room="2")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 2
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="3")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 3
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="4")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 4
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка

            .sale__apartments.sale-apartments(data-liter="2" data-room="0")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат студия
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="3")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 3
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


            .sale__apartments.sale-apartments(data-liter="2" data-room="4")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат 4
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка

            .sale__apartments.sale-apartments(data-liter="2" data-room="0")
                .sale-apartments__name Квартира с 2-мя спальнями 2 комнат студия
                .sale-apartments__body
                    .sale-apartments__img
                        img(src="img/reg.png" alt='')
                    .sale-apartments__right
                        .sale-apartments__conditions
                            .sale-apartments__block
                                img(src="img/icons/pl.svg")
                                b от 68,3 м²
                            .sale-apartments__block
                                img(src="img/icons/ot.svg")
                                p Без отделки
                            .sale-apartments__block
                                img(src="img/icons/kom.svg")
                                b 2
                            .sale-apartments__block
                                img(src="img/icons/et.svg")
                                b 5

                        .sale-apartments__price
                            span от 4 441 450 ₽
                            p от 65 000 ₽/м²

                        .sale-apartments__btn.button.des Показать предложение
                        a(href="#").D3.des 3D - планировка
                .sale-apartments__btn.button.mob Показать предложение
                a(href="#").D3.mob 3D - планировка


        .sale__btns
            .add-apartments Показать ещё планировку
            .sale__btns-btn.button Уточнить про планировку
