section.show-offs
    ._container
        .show-offs__container.swiper
            .swiper-wrapper
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/1.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/2.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/3.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/4.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/5.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/6.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/7.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015
                .show-offs__slide.swiper-slide
                    .show-offs__ic
                        img(src="img/icons/8.svg" alt='')
                    .show-offs__text
                        .show-offs__name Срок сдачи
                        .show-offs__span 2015

        .show-offs__pagination._swiper_pagination
