section.HCtab
    ._container
        .HCtab__tatle.title Описание Жилого Комплекса
        .HCtab__text Нажимайте <> чтобы подробно ознакомится с проектом
        .tabs.HCtab__body
            .tabs__nav.tabs-nav.HCtab__nav
                .tabs-nav__item.is-active(data-tab-name="tab-1")
                    .HCtab__description Парковка
                .tabs-nav__item(data-tab-name="tab-2")
                    .HCtab__description Архитектура
                .tabs-nav__item(data-tab-name="tab-3")
                    .HCtab__description Охрана
                .tabs-nav__item(data-tab-name="tab-4")
                    .HCtab__description Территория

            .tabs__content.HCtab__content
                .tab-pane.tab-1.is-active
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Парковка
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")





                .tab-pane.tab-2
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Архитектура
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                .tab-pane.tab-3
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Охрана
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                .tab-pane.tab-4
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Территория
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")

