section.HCtab
    ._container
        .HCtab__tatle.title Описание Жилого Комплекса
        .HCtab__text Нажимайте <> чтобы подробно ознакомится с проектом
        .tabs.HCtab__body
            .tabs__nav.tabs-nav.HCtab__nav
                .tabs-nav__item.is-active(data-tab-name="tab-1")
                    .HCtab__description Парковка
                .tabs-nav__item(data-tab-name="tab-2")
                    .HCtab__description Архитектура
                .tabs-nav__item(data-tab-name="tab-3")
                    .HCtab__description Охрана
                .tabs-nav__item(data-tab-name="tab-4")
                    .HCtab__description Территория

            .tabs__content.HCtab__content
                .tab-pane.tab-1.is-active
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                .HCtab-pane__nav
                                    .HCtab-pane-btn-prev
                                        svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                            path(d='M24.6553 24.1982L29.7431 19.1245C29.9098 18.9583 30.1797 18.9586 30.3461 19.1253C30.5124 19.292 30.512 19.562 30.3452 19.7283L25.5603 24.5001L30.3454 29.2718C30.5121 29.4381 30.5125 29.708 30.3463 29.8747C30.2628 29.9583 30.1536 30.0001 30.0443 30.0001C29.9353 30.0001 29.8264 29.9585 29.7431 29.8756L24.6553 24.8019C24.575 24.7221 24.5299 24.6133 24.5299 24.5001C24.5299 24.3868 24.5751 24.2782 24.6553 24.1982Z', fill='#212D55')

                                    .HCtab-pane-btn-next
                                        svg(width='45', height='45', viewbox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='27.5', cy='24.5', r='12.5', fill='white')
                                            path(d='M30.3447 24.1982L25.2569 19.1245C25.0902 18.9583 24.8203 18.9586 24.6539 19.1253C24.4876 19.292 24.488 19.562 24.6548 19.7283L29.4397 24.5001L24.6546 29.2718C24.4879 29.4381 24.4875 29.708 24.6537 29.8747C24.7372 29.9583 24.8464 30.0001 24.9557 30.0001C25.0647 30.0001 25.1736 29.9585 25.2569 29.8756L30.3447 24.8019C30.425 24.7221 30.4701 24.6133 30.4701 24.5001C30.4701 24.3868 30.4249 24.2782 30.3447 24.1982Z', fill='#212D55')

                                h2 Парковка
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")





                .tab-pane.tab-2
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Архитектура
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                .tab-pane.tab-3
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Охрана
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                .tab-pane.tab-4
                    .HCtab-pane
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                            .HCtab-pane__text
                                h2 Территория
                                br
                                p Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
                                br
                                p Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.

                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")
                        .HCtab-pane__element(style="background-image: url('img/tab1.png');")

