.sale {
  padding: 25px 0;
  @include mq('tablet-wide') {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    margin-bottom: 50px;
    @include adaptive-font(22, 18, 1);
  }

  &-nav {

  }

  &-nav-top {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include mq('tablet-wide') {
      grid-template-columns: 160px 160px 160px;
    }

    span {
      color: $color_3;
      font-size: 26px;
      @include maq('tablet-wide') {
        grid-column: span 2;
        text-align: center;
      }
    }
  }

  &-nav-top__element {
    background: $color_7;
    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
    border-radius: 10px;
    padding: 15px;

    &.active {
      border: 1px solid $color_3;
      color: $color_3;
    }
  }


  &-nav-top__body {
    background: $color_1;
    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    text-align: center;
  }

  &__nav-bottom {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    align-items: center;
    @include mq('tablet-wide') {
      grid-template-columns: repeat(5, 1fr);
    }
    margin: 30px 0 50px;
  }

  &__nav-bottom__element {
    background: $color_7;
    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
    border-radius: 10px;
    padding: 15px;
  }
  &__nav-bottom__element.active{
    border: 1px solid $color_3;
    color: $color_3;
  }
  &__nav-bottom__body {
    background: $color_1;
    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    text-align: center;
  }
}

.sale__content {
  @include mq('tablet-wide') {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

.sale-apartments {
  padding: 15px;
  background: $color_1;
  box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
  border-radius: 10px;

  &__name {
    @include adaptive-font(22, 18, 1);
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }

  &.hide {
    display: none;
  }

  &__body {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 130px 1fr;

    @include mq('tablet-wide') {
      padding: 30px 20px;
    }
  }

  &__img {
    img {
      max-width: 100%;
    }
  }

  &__right {
    display: grid;
    grid-gap: 20px;

    a {
      color: $color_2;
      text-align: center;
      font-weight: 600;
      transform: translateX(-50px);
      margin: auto;
    }
  }

  &__conditions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .sale-apartments__block {
      display: inline-flex;
      gap: 5px;

      p {
        color: #656D89;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    @include mq('tablet-wide') {
      gap: 30px;
    }

    span {
      border-radius: 10px;
      border: 1px solid $color_3;
      color: $color_3;
      padding: 10px;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__btn {
    font-size: 18px;
    @include maq('tablet-wide') {
      width: 100%;
      margin-top: 15px;
    }
  }
}

.sale__btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  text-align: center;

  a {
    color: $color_3;
    font-weight: 600;
  }
}

.D3 {
  color: $color_2;
  text-align: center;
  font-weight: 600;
  margin: 30px auto 0;
  display: block;
}

.des {
  display: none;
  @include mq('tablet-wide') {
    display: flex;
  }
}

.mob {
  @include mq('tablet-wide') {
    display: none;
  }
}

