.description-subtitle {
  margin-top: 30px;
  font-family: 'Gilroy-light';
  font-size: 22px;
  line-height: 26px;
  color: #656D89;
  text-align: center
}

.description-subtitle img {
  margin: 0 4px
}

.description-title {
  margin-bottom: 50px
}

.description-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px
}

.description-header .card-link {
  margin-left: 22px
}

.description-header .card-item {
  display: block;
  width: 193px;
  height: 102px;
  margin-right: 40px
}

.description-text {
  overflow-y: scroll;
  height: 266px;
  margin-top: 10px
}

.description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.description-photo {
  margin-left: 20px
}

.photo {
  border-radius: 10px;
  overflow: hidden
}

.photo img {
  width: 100%;
  min-height: 573px;
  -o-object-fit: cover;
  object-fit: cover
}

.photo-small {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden
}

.description-tabcontent {
  position: relative
}

.description-box {
  max-width: 538px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
  box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  bottom: 54px;
  left: 27px;
  right: 27px
}

.description-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.description-arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.description-arrow-box .arrow-prev {
  margin-bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.description-arrow-box .arrow-next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 30px
}

.description-des {
  font-family: 'Gilroy-light';
  font-size: 16px;
  line-height: 19px;
  margin-top: 22px;
  color: #656D89
}