mixin head(title)
    head
        title Строитель
        meta(charset='UTF-8')
        meta(name='format-detection', content='telephone=no')
        link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap', rel='stylesheet')
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
        link(rel='stylesheet', href='css/style.min.css')
        link(rel='shortcut icon', href='favicon.ico')

        meta(name='viewport', content='width=device-width, initial-scale=1.0')


mixin news(img, date, title, text)
    .block
        a.block__body.block-body(href="#")
            .block-body__img(style=`background-image: url(${img})`)
            .block-body__date= date
            .block-body__title= title
            .block-body__text= text
