include pug/mixins
doctype html
html(lang="ru")
    +head('О нашей кмпании')
    body
        .wrapper
            include pug/_basice/_header
            .page
                include pug/_basice/_crumbs
                include pug/_basice/_title
                include pug/about_us/slider-tel
                include pug/about_us/building
                include pug/about_us/certificates
                include pug/about_us/warranty
                include pug/about_us/offers


            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
