include pug/mixins
doctype html
html(lang="ru")
    +head('как купить')
    body
        .wrapper
            include pug/_basice/_header
            .page
                include pug/_basice/_crumbs
                include pug/_basice/_title
                include pug/howbuy/first



            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
