include pug/mixins
doctype html
html(lang="ru")
    +head('ипотека')
    body
        .wrapper
            include pug/_basice/_header
            .page
                include pug/mortgage/first
                include pug/mortgage/about_us
                include pug/mortgage/apartments
                include pug/about_us/offers
                include pug/mortgage/purchase

            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
