include pug/mixins
doctype html
html(lang="ru")
    +head('новости')
    body
        .wrapper
            include pug/_basice/_header
            .page
                include pug/_basice/_crumbs
                include pug/_basice/_title
                include pug/news/first
                include pug/about_us/offers


            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
