include pug/mixins
doctype html
html(lang="ru")
    +head('Новости')
    body
        .wrapper
            include pug/_basice/_header
            .page
                include pug/_basice/_crumbs
                include pug/_basice/_title
                include pug/news/slider
                include pug/mortgage/purchase


            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
