.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color_2;
	padding-top: 50px;
	// .pagging__arrow
	&__arrow {
	}
	// .pagging__list
	&__list {
		display: flex;
		li {
			display: flex;
			padding: 0 10px;
		}
	}
	// .pagging__item
	&__item {
		&._active,&:hover {
			color: $color_3;
		}

	}
}
