section.howbuy
    ._container
        p <b>Ипотечные программы</b> — это отличная возможность приобрести свое первое жилье либо улучшить свои жилищные условия. Гибкие условия, большой выбор ипотечных программ и самое главное — возможность получить ипотечный кредит на интересных условиях в банках-партнерах.

        .howbuy__grid
            +news('img/new1.png','','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new1.png','','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new1.png','','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new1.png','','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
            +news('img/new1.png','','Ипотека','Ипотечный кредит предоставляется на приобретение строящейся квартиры, на первичном рынке недвижимости')
