section.banner
    ._container
        .banner-container.swiper
            .swiper-wrapper
                .banner-slide.swiper-slide
                    picture
                        source(data-srcset='img/banner.webp' srcset='img/1x1.png' type='image/webp' media="(min-width: 500px)")
                        source(data-srcset='img/banner.png' srcset='img/1x1.png' type='image/png' media="(min-width: 500px)")
                        source(data-srcset='img/banner-m.webp' srcset='img/1x1.png' type='image/webp' media="(max-width: 500px)")
                        source(data-srcset='img/banner-m.png' srcset='img/1x1.png' type='image/png' media="(max-width: 500px)")
                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')
                .banner-slide.swiper-slide
                    picture
                        source(data-srcset='img/banner.webp' srcset='img/1x1.png' type='image/webp' media="(min-width: 500px)")
                        source(data-srcset='img/banner.png' srcset='img/1x1.png' type='image/png' media="(min-width: 500px)")
                        source(data-srcset='img/banner-m.webp' srcset='img/1x1.png' type='image/webp' media="(max-width: 500px)")
                        source(data-srcset='img/banner-m.png' srcset='img/1x1.png' type='image/png' media="(max-width: 500px)")
                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')
                .banner-slide.swiper-slide
                    picture
                        source(data-srcset='img/banner.webp' srcset='img/1x1.png' type='image/webp' media="(min-width: 500px)")
                        source(data-srcset='img/banner.png' srcset='img/1x1.png' type='image/png' media="(min-width: 500px)")
                        source(data-srcset='img/banner-m.webp' srcset='img/1x1.png' type='image/webp' media="(max-width: 500px)")
                        source(data-srcset='img/banner-m.png' srcset='img/1x1.png' type='image/png' media="(max-width: 500px)")
                        img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')

            .banner__pagination._swiper_pagination