section.comfort
    ._container
        .comfort__title.title Всё для комфортной жизни
        .comfort__sub-title Жизнь в доме своей мечты в современными коммуникациями вдали от шума, пробок и суеты. <br>Мы не экономим на Вашем комфорте и удобстве.
        .comfort-body-sl
            .comfort__slider
                .comfort__slide.comfort-slide
                    .comfort-slide__body
                        .comfort-slide__number 01
                        .comfort-slide__text Закрытая охраняемая территория
                .comfort__slide.comfort-slide
                    .comfort-slide__body
                        .comfort-slide__number 02
                        .comfort-slide__text Система видеонаблюдения
                .comfort__slide.comfort-slide
                    .comfort-slide__body
                        .comfort-slide__number 03
                        .comfort-slide__text Удобные и вместительные парковки
                .comfort__slide.comfort-slide
                    .comfort-slide__body
                        .comfort-slide__number 04
                        .comfort-slide__text Детские и спортивные площадки
                .comfort__slide.comfort-slide
                    .comfort-slide__body
                        .comfort-slide__number 05
                        .comfort-slide__text Удобная транспортная развязка
            .comfort__pagination._swiper_pagination