section.first
    .first-container.swiper
        .swiper-wrapper
            .first-slide.swiper-slide(style="background-image: url('img/first.png');")
                ._container
                    .first-slide__body
                        .first-slide__title Квартиры с отделкой от застройщика <br><b>по доступным ценам</b>
                        .first-slide__btn.button Узнать стоимость проекта
                        ul.first-slide__list
                            li
                                img(src="img/icons/1.png")
                                span <b>в рейтинге </b>застройщиков по Республике Адыгее
                            li
                                img(src="img/icons/10.png")
                                span <b>лет</b> на рынке недвижимости
                            li
                                img(src="img/icons/40.png")
                                span <b>сданных</b> домов
            .first-slide.swiper-slide(style="background-image: url('img/first.png');")
                ._container
                    .first-slide__body
                        .first-slide__title Квартиры с отделкой от застройщика <br><b>по доступным ценам</b>
                        .first-slide__btn.button Узнать стоимость проекта
                        ul.first-slide__list
                            li
                                img(src="img/icons/1.png")
                                span <b>в рейтинге </b>застройщиков по Республике Адыгее
                            li
                                img(src="img/icons/10.png")
                                span <b>лет</b> на рынке недвижимости
                            li
                                img(src="img/icons/40.png")
                                span <b>сданных</b> домов

        .first__pagination._swiper_pagination