section.mortgage
    ._container
        .comfort__title.title Ипотечные блоки
        .comfort__sub-title И посмотрите условия ипотеки от 14 банков

        form.mortgage-calculator.mortgage__calculator
            .mortgage-calculator__top.mortgage-calculator-top
                .mortgage-calculator-top__input.mortgage-calculator-top-input
                    .mortgage-calculator-top-input__wr
                        .mortgage-calculator-top-input__title Стоимость недвижимости
                        input.mortgage-calculator-top-input__value#costEstateValue(value="" type="tel")
                    .mortgage-calculator-top-input__input#costEstateSlider

                .mortgage-calculator-top__input.mortgage-calculator-top-input
                    .mortgage-calculator-top-input__wr
                        .mortgage-calculator-top-input__title Стоимость недвижимости
                        input.mortgage-calculator-top-input__value#initialPaymentValue(value="" type="tel")
                    .mortgage-calculator-top-input__input#initialPaymentSlider

                .mortgage-calculator-top__input.mortgage-calculator-top-input
                    .mortgage-calculator-top-input__wr
                        .mortgage-calculator-top-input__title Срок ипотеки
                        input.mortgage-calculator-top-input__value#mortgageTermValue(value="" type="tel")
                    .mortgage-calculator-top-input__input#mortgageTermSlider

            .mortgage-calculator__bottom.mortgage-calculator-bottom
                .mortgage-calculator-bottom__result
                    .mortgage-calculator-bottom__title Текущая ставка:
                    .mortgage-calculator-bottom__meaning 5.45%
                .mortgage-calculator-bottom__result
                    .mortgage-calculator-bottom__title Ежемесячный платеж:
                    .mortgage-calculator-bottom__meaning 1 392 895 ₽/мес




            .mortgage-calculator__form.mortgage-calculator-form
                .mortgage-calculator-form__input-body
                    input.mortgage-calculator-form__input(placeholder="Ваш номер телефона")
                .mortgage-calculator-form__input-body
                    input.mortgage-calculator-form__input(placeholder="Ваше имя")
                .mortgage-calculator-form__btn.button Отправить заявку
                .mortgage-calculator-form__politic Я принимаю условия передачи информации

