section.new(style="background-image: url('img/bg-new.png');")
    ._container
        .new__title.title  Новости компании
        .new-container.swiper
            .swiper-wrapper
                .new-slide.swiper-slide
                    a.new-slide__content.new-slide-content(href="#")
                        .new-slide-content__img
                            picture
                                source(data-srcset='img/sl_1.webp' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')

                        .new-slide-content__date 17.08.2021
                        .new-slide-content__name Компания Строитель
                .new-slide.swiper-slide
                    a.new-slide__content.new-slide-content(href="#")
                        .new-slide-content__img
                            picture
                                source(data-srcset='img/sl_2.webp' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/sl_2.png' src='img/1x1.png' alt='Картинка')

                        .new-slide-content__date 17.08.2021
                        .new-slide-content__name Компания Строитель заняла 1 место по объему ввода жилья
                .new-slide.swiper-slide
                    a.new-slide__content.new-slide-content(href="#")
                        .new-slide-content__img
                            picture
                                source(data-srcset='img/sl_3.webp' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/sl_3.png' src='img/1x1.png' alt='Картинка')

                        .new-slide-content__date 17.08.2021
                        .new-slide-content__name Компания Строитель заняла
                .new-slide.swiper-slide
                    a.new-slide__content.new-slide-content(href="#")
                        .new-slide-content__img
                            picture
                                source(data-srcset='img/sl_1.webp' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/sl_1.png' src='img/1x1.png' alt='Картинка')

                        .new-slide-content__date 17.08.2021
                        .new-slide-content__name Компания Строитель заняла 1 место по объему ввода жилья

            .new-pagination._swiper_pagination
