section.table-bank
    ._container
        .table__top.table-top.table-grid
            .table-top__column Банки
            .table-top__column Взнос
            .table-top__column Ставка
            .table-top__column Срок кредита
        .table__main.table-main.table-grid

            .table-main__column
                img(src="img/bank1.png" alt="")
            .table-main__column
                span Взнос
                span <b>от 15%</b>
            .table-main__column
                span Ставка
                span <b>от 8,5%</b>
            .table-main__column
                span Срок
                span <b>до 30 лет</b>

            .table-main__column
                img(src="img/bank2.png" alt="")
            .table-main__column
                span Взнос
                span <b>от 15%</b>
            .table-main__column
                span Ставка
                span <b>от 8,5%</b>
            .table-main__column
                span Срок
                span <b>до 30 лет</b>

            .table-main__column
                img(src="img/bank3.png" alt="")
            .table-main__column
                span Взнос
                span <b>от 15%</b>
            .table-main__column
                span Ставка
                span <b>от 8,5%</b>
            .table-main__column
                span Срок
                span <b>до 30 лет</b>

            .table-main__column
                img(src="img/bank4.png" alt="")
            .table-main__column
                span Взнос
                span <b>от 15%</b>
            .table-main__column
                span Ставка
                span <b>от 8,5%</b>
            .table-main__column
                span Срок
                span <b>до 30 лет</b>

            .table-main__column
                img(src="img/bank5.png" alt="")
            .table-main__column
                span Взнос
                span <b>от 15%</b>
            .table-main__column
                span Ставка
                span <b>от 8,5%</b>
            .table-main__column
                span Срок
                span <b>до 30 лет</b>

            .table-main__column
                img(src="img/bank6.png" alt="")
            .table-main__column
                span Взнос
                span <b>от 15%</b>
            .table-main__column
                span Ставка
                span <b>от 8,5%</b>
            .table-main__column
                span Срок
                span <b>до 30 лет</b>

        .table-main__more Показать ещё
        .table-main__btn.button Получить консультацию специалиста