section.text
    ._container
        .text__title.title В каком случае выгодно брать рассрочку?

        ul
            li Стоимость по рассрочке +/- совпадает с тем, что заявлено
            li Стоимость по рассрочке +/- совпадает с тем, что заявлено
            li Стоимость по рассрочке +/- совпадает с тем, что заявлено
            li Стоимость по рассрочке +/- совпадает с тем, что заявлено
            li Стоимость по рассрочке +/- совпадает с тем, что заявлено
            li Стоимость по рассрочке +/- совпадает с тем, что заявлено

        p Если вы хотите купить квартиру в новостройке от застройщика, то можете разбить оплату по частям. Да, платить всю сумму сразу необязательно. Сообщите менеджеру о том, что планируете купить квартиру в рассрочку и о том, какой срок (от 2 до 6 месяцев) вас устроит.